// Copyright 2014 Frank Lin (lin.xiaoe.f@gmail.com). All rights reserved.
// Use of this source code is governed by a license that can be
// found in the LICENSE file.

IPHONEOS_DEPLOYMENT_TARGET = 8.0

PRODUCT_NAME = sakura

HEADER_SEARCH_PATHS = ../sakura ../external ../external/curl/curl ../external/websockets/include/ios

LIBRARY_SEARCH_PATHS = ../external/curl/prebuilt/iOS ../external/openssl/lib ../external/websockets/prebuilt/ios

OTHER_LDFLAGS = -lz

GCC_PREPROCESSOR_DEFINITIONS = SKR_PLATFORM=SKR_PLATFORM_IOS SKR_LOG_LEVEL=SKR_LOG_LEVEL_ALL SKR_USING_ASSERT

